
main{
    padding: 40px 40px;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--color-p1-o4);
}
.nav{
    margin-bottom: 40px;
    display: flex; 
    align-items: center;
}
.nav .setting{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.setting a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}
.setting a ion-icon{
    font-size: 1.3em;
}


.content h1{
    font-family: var(--font2);
}
.content h1 span{
    color: var(--color-p3-o6);
}
.content h2{
    margin: 10px 0 40px 0;
    font-size: 1.1em;
}
.espace{
    display: flex;
    gap: 40px;
}
.espace-publication{
    padding: 20px;
    background-color: var(--color-p3-o1);
    width: 70%;
    border-radius: 10px;
    box-shadow: var(--bs-p2-2);
}
.espace-post{
    padding: 20px;
    background-color: var(--color-p3-o1);
    width: 30%;
    border-radius: 10px;
    box-shadow: var(--bs-p2-2);
}
.espace-post > div{
    margin-bottom: 15px;
}
.espace-post > div p:nth-child(2){
    font-style: italic;
    font-size: 0.8em;
}
.espace-post a{
    font-size: 1.1em;
    font-style: normal;
    margin-left: 5%;
}
form > div{
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    margin: 10px 0;
}
form textarea{
    resize: none;
    padding: 10px;
}
form input{
    height: 40px;
}
form input:focus, form textarea:focus {
    outline: none;
}
form input[type='submit']{
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--color-p3-o6);
    transition: var(--trans0);
    width: 150px;
    margin: 20px 0;
}
form input[type='submit']:hover{
    border: 1px solid var(--color-p3-o6);
    background-color: var(--color-p1-o6);
    color: var(--color-p3-o6);
    transition: var(--trans0);
}
form input[type='file']{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
}
.container-file{
    position: relative;
    background-color: var(--color-p3-o6);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: var(--color-p1-o6);
    border-radius: 10px;
    transition: var(--trans0);
}
.container-file:hover{
    background-color: var(--color-p1-o6);
    color: var(--color-p3-o6);
    border: var(--color-p3-o6) solid 1px;
    transition: var(--trans0);
}
.container-file label{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    cursor: pointer; 
    z-index: 1;
    border-radius: 10px;

}
.container-file ion-icon{
    font-size: 1.3em;
}


.container-post{
    margin: 20px;
    box-shadow: var(--bs-p2-2);
    padding: 10px;
}
.container-post h3{
    color: var(--color-p2-o4);

}
.container-post h4{
    color: var(--color-p3-o5);
    margin-bottom: 10px;

}
.container-post hr{
    margin: 10px 4%;
}
.container-post img{
    max-height: 40%;
    max-width: 40%;
    text-align: center;
    float: left;
    margin: 10px 20px 10px 0;
}
.container-post p{
    color: var(--color-p2-o5);

}
form .photo-erreur{
    color: red;
    font-style: italic;
    font-size: 0.9em;
}
.container-radio{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.box-radio{
    position: relative;
    height: 35px;
    width: 100px;
}
.box-radio input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.box-radio label{
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 10px;
    border: solid 1px var(--color-p4-o4);
    color: var(--color-p4-o5);
    transition: var(--trans0);
}
form input[type='radio']:checked ~ label{
    background: var(--color-p4-o4);
    color: var(--color-p1-o5);
    transition: var(--trans0);
}

@media (max-width: 1000px){
    .espace{
        flex-direction: column;
        gap: 40px;
    }
    .espace-publication{
        width: 100%;
    }
    .espace-post{
        width: 100%;
    }
}
@media (max-width: 700px){
    main{
        padding: 10px 10px;
    }
    form > div{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0;
    }
    .nav{
        flex-direction: column;
    }
    .nav .setting{
        margin-left: 0px;
    }
    .container-radio{
        flex-direction: column;
        gap: 10px;
    }

}


